<div *ngIf="isOpen" class="custom-modal">
  <div class="modal-content">
    <div class="header-modal">
      <div class="title-modal">User Registration Successfully!</div>
      <span class="close" (click)="onClose()">&times;</span>
    </div>
    <div class="section-content">
    <div class="message-success">
      <div class="icon-success">
        <img src="/assets/svg/utils/success.svg" />
      </div>
      <div class="primary-message">
        The user with email <span>{{ registeredEmail }}</span> was
        registered in our system.
      </div>
    </div>
    <div class="secondary-message">
      <span
        >To obtain your access <b>ID</b> and <b>password</b>, check the inbox
        and spam folder of the email you used to register.
      </span>
    </div>

    <div class="div-btn">
    <button
      class="btn-primary"
      (click)="onClose()"
    >
      close
    </button>
  </div></div>  </div>
</div>
