<nav class="navbar">
  <div class="div-control-logo">
    <div class="logo-text">
      <span>People</span>
      <span style="font-weight: 600">Hub</span>
    </div>
  </div>

  <div class="div-control-box-infos">
    <div class="box-infos">
      <img
        class="notification-icon"
        style="cursor: pointer"
        src="/assets/svg/navbar/notification.svg"
        (click)="toggleNotification()"
      />
  
      <span
        class="notification-badge"
        *ngIf="userSubStatus !== 'UNLOCKED'"
      ></span>

      <app-notification-navbar
        *ngIf="isNotificationOpen"
        (mouseleave)="toggleNotification()"
      ></app-notification-navbar>

      <img
        style="cursor: pointer"
        src="/assets/svg/navbar/settings.svg"
        (click)="toggleSettingsMenu()"
      />

      <app-submenu-navbar
      *ngIf="isSubMenuOpen"
      (mouseleave)="toggleSettingsMenu()"
    ></app-submenu-navbar>
      
      <div class="user-name">
        <span>{{ userInitials }}</span>
      </div>
    </div>

    <div class="icon-logout">
      <img
        style="cursor: pointer"
        src="/assets/svg/navbar/logout.svg"
        (click)="logout()"
      />
    </div>
  </div>
</nav>
