<nav class="navbar">
  <div class="div-control-logo">
    <div class="logo-text">
      <span>People</span>
      <span style="font-weight: 600">Hub</span>
    </div>
  </div>

  <div class="div-control-box-infos">
    <div class="box-infos">
      <img style="cursor: pointer" src="/assets/svg/navbar/notification.svg" />

      <img
        style="cursor: pointer"
        src="/assets/svg/navbar/settings.svg"
        (click)="toggleSettingsMenu()"
      />
      <div
        class="settings-submenu"
        *ngIf="isSubMenuOpen"
        (mouseleave)="toggleSettingsMenu()"
      >
        <div class="title-submenu">
          <img src="/assets/svg/submenu-navbar/configurations.svg" /><span
            >Settings</span
          >
        </div>

        <div class="div-control-status">
          <div
            [ngClass]="{
              available: userStatus === 'AVAILABLE',
              unavailable: userStatus === 'UNAVAILABLE'
            }"
            class="status-user"
            style="width: 12px; height: 12px"
          >
            <span>{{ userStatus }}</span>
          </div>
        </div>

        <a href="#link1">
          <img src="/assets/svg/submenu-navbar/profile.svg" /> My profile
        </a>

        <a href="#link2">
          <img src="/assets/svg/submenu-navbar/password-lock.svg" />Password
          Management
        </a>

        <button class="close-btn" (click)="toggleSettingsMenu()">X</button>
      </div>

      <div class="user-name">
        <span>{{ userInitials }}</span>
      </div>
    </div>

    <div class="icon-logout">
      <img
        style="cursor: pointer"
        src="/assets/svg/navbar/logout.svg"
        (click)="logout()"
      />
    </div>
  </div>
</nav>
