<app-modal-default
  titleModal="Forgot your password?"
  srcIcon="/assets/svg/utils/information.svg"
  primaryMessageText="Enter your email registered in the system to recover your password."
  secondaryMessageText=""
  primaryBtnText="cancel"
  secondaryBtnText="send"
  (submit)="submit()"
  (closeModal)="closeModal()"
  *ngIf="isOpen"
>
  <form [formGroup]="recoveryPasswordForm">
    <app-input
      formControlName="email"
      inputName="email"
      type="email"
      label=""
      placeholder="email@email.com"
    >
      <img src="/assets/svg/signup-input/mail.svg" />
    </app-input>
  </form>
  <app-successfully-email-modal [registeredEmail]="registeredEmail" [isOpen]="isModalOpen" (onCloseModal)="closeModal()" ></app-successfully-email-modal>
</app-modal-default>
