@import 'src/styles/variables';

main {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.main-container {
    background-color: #F5F5F5;
    display: flex;
    flex: 1;
    height: 100vh;
}


.content {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    overflow: auto;
}


//** HEADER FOR PROFILE ** //

.profile-user {
    width: 120px;
    height: 120px;
    background-color: #D9D9D9;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    span {
        font-family: $font-primary;
        font-size: 1.7em;
        font-weight: 600;
        color: #A5A5A5;
        text-align: center;
        align-items: center;
    }

    &.available {
        border: 3px solid $vailable-color;
    }

    &.unavailable {
        border: 3px solid $unavailable-color;
    }

}

.header-profile {
    padding: 2em;
    background-color: white;
    width: 95%;
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.div-control-profile {
    background-color: #FCFCFC;
    display: flex;
}

.infos-basics {
    padding-left: 1em;
}

.name {
    margin-bottom: 0.5em;
    color: #3D3D3D;

    span {
        line-height: 20px;
        display: block;
        font-weight: 600;
    }
}

.email {
    margin-bottom: 0.5em;
    color: #3D3D3D;

    span {
        line-height: 20px;
        display: block;
        font-weight: 600;
    }
}


.role {
    color: #3D3D3D;

    span {
        line-height: 20px;
        display: block;
        font-weight: 600;
    }
}


/* Mídia para tornar responsivo */

@media  (max-width: 1055px) {
    .profile-user {
        width: 120px;
        height: 110px;
        background-color: #D9D9D9;
        border-radius: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    
        span {
            font-family: $font-primary;
            font-size: 1.7em;
            font-weight: 600;
            color: #A5A5A5;
            text-align: center;
            align-items: center;
        }
    
        &.available {
            border: 3px solid $vailable-color;
        }
    
        &.unavailable {
            border: 3px solid $unavailable-color;
        }
    
    }
    
}