<main>
  <app-navbar></app-navbar>

  <div class="main-container">
    <app-sidebar></app-sidebar>

    <div class="content">
      <div class="header-profile">

        <div class="div-control-profile">

          <div 
          [ngClass]="{'available': userStatus === 'AVAILABLE', 'UNAVAILABLE': userStatus === 'UNAVAILABLE'}" 
          class="profile-user" 
        >
          <span>{{ userInitials }}</span>
        </div>

        <div class="infos-basics">
          <div class="name">
            <span>Name</span>
            <span style="font-weight: 400; text-transform: capitalize; color:#939393;">{{userFullName}}</span>
          </div>

          <div class="email">
            <span>Email</span>
            <span style="font-weight: 400; text-transform: capitalize; color:#939393;">{{userEmail}}</span>
          </div>

          <div class="role">
            <span>Role</span>
            <span style="font-weight: 400; text-transform: capitalize; color:#939393;">{{userRole}}</span>
          </div>
        </div>

      </div>
        <ng-content></ng-content>
      </div>
     
    </div>
  </div>
</main>
