$primary-color: #A2A53B;
$secondary-color: #1E2772;
$third-color: #2E2E2E;
$text-color: #555555;
$font-primary: "Poppins", sans-serif;
$text-size-primary:15px;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;
$gray-primary-bg: #C4C679;

