$primary-color: #A2A53B;
$secondary-color: #1E2772;
$third-color: #2E2E2E;

//Buttons
$btn-primary-app:#F0F0F0;

//Fonts
$font-primary: "Poppins", sans-serif;
$text-size-primary:15px;
$text-size-secondary:13px;
$text-color-secondary:#3D3D3D;
$text-color: #555555;
$text-color-simple:#939393;

//Backgrounds
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;

//Status
$unavailable-color: #962929;
$vailable-color:#A2A53B;

