<div *ngIf="isOpen" class="custom-modal">
    <div class="modal-content">
      <div class="header-modal">
        <div class="title-modal">Forgot your password?</div>
        <span class="close" (click)="onClose()">&times;</span>
      </div>
      <div class="section-content">
      <div class="message-success">
        <div class="icon-success">
          <img src="/assets/svg/utils/information.svg"/>
        </div>
        <div class="primary-message">
          Enter your email registered in the system to recover your password.
        </div>
      </div>
      <div class="secondary-message">
        <form [formGroup]="recoveryPasswordForm">
          <app-input
              formControlName="email"
              inputName="email"
              type="email"
              label=""
              placeholder="email@email.com"
          >
              <img src="/assets/svg/signup-input/mail.svg"/>
          </app-input>
          </form>
      </div>
  
      <div class="div-btn">
      <button
        class="btn-primary"
        (click)="onClose()"
        
      >
        cancel
      </button>

      <button
        class="btn-secondary"
        (click)="submit()"
      >
        send
      </button>
    </div></div>  </div>
  </div>
  