@import 'src/styles/variables';

// HEADER FOR PROFILE

.header-profile {
    padding: 2em;
    background-color: white;
    width: 94%;
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 0.9em;
}

/* Mídia para tornar responsivo */

@media  (max-width: 900px) {
    .header-profile {
        height:450px;
        padding: 1em;
    }
}

@media (min-width: 701px) and (max-width:900px) {
    .header-profile {
        height:350px;
        padding: 1em;
    }
}