@import 'src/styles/variables';

.main-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.header-profile {
    padding: 2em;
    background-color: white;
    width: 94%;
    height: auto; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.title-page {
    font-size: 1.5em;
    font-weight: bold;
    font-family: $font-primary;
    font-weight: 500;
    margin-bottom: 20px; 
    text-align: center;
}

.form-section {
    font-family: $font-primary;
    //background-color: red;
    justify-content: center;
    align-items: center;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.form-section form {
    width: 100%; 
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-rules {
    background-color: $gray-bg;
    padding: 1em;
    margin-top: 2em;
    text-align: center; 
}

button {
    margin-top: 40px;
    font-family: $font-primary;
    width: 60%;
    max-width: 400px; 
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 12px 24px;
    cursor: pointer;

    &:disabled {
        opacity: 0.8;
    }

    &.btn-primary {
        background-color: $primary-color;
        color: white;
        box-shadow: 0px 8px 12px rgba(148, 230, 64, 0.2);
    }
}
