<div class="header-profile">
  <div class="title-page"><span>Change your password</span></div>

  <div class="form-section">
    <form [formGroup]="updatePasswordForm">
      <app-input
        formControlName="password"
        inputName="password"
        type="password"
        label="password"
      >
        <img src="/assets/svg/password-user.svg" />
      </app-input>

      <app-input
        formControlName="confirmPassword"
        inputName="confirmPassword"
        type="password"
        label="password confirmation"
        [hasError]="
          updatePasswordForm.controls['password'].hasError('passwordNotMatch')
        "
        errorMessage="Senha nao sao iguais!"
      >
        <img src="/assets/svg/password-user.svg" />
      </app-input>
      <span></span>
      <button
      class="btn-primary"
      (click)="submit()"
    >
      SAVE
    </button>
     
    </form>



    <div class="box-rules">
      <span>
        Your new password must contain:
        <br />
        <br />
        - 10 Characters
        <br />
        - Lowercase and Uppercase letters
        <br />- Special characters.
      </span>
    </div>
  </div>
</div>
